allow init vfat:file read;
allow init vfat:file { getattr open };

allow init sdcardd_exec:file { getattr read open };
allow init firmware_file:dir { mounton };
